<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style-book-detail.css}">
</head>
<body>
    <div class="form_all">
        <div class="title">
            <h1>Thông Tin Sách</h1>
        </div>
        <div class="form_content">
            <form th:object="${book}" th:action="@{/admin/book/save/{BookCode}(BookCode=${book.BookCode})}"
                th:method="${BookCode} < 0 ? POST : PUT" enctype="mutilpart/form-data">
                <div class="content">
                    <div class="photo">
                        <p>Hình ảnh</p>
                        <div class="img">
                            <img width="400" height="400" th:src="@{'/getimage/'+${book.Img}}" alt="">
                        </div>
                        <div>
                            <div>
                                <input type="file" name="Img" th:value="${book.Img}" disabled required>
                            </div>
                        </div>
                    </div>
                    
                    <div class="inforbook">
                        <div class="BookCode">
                            <p>Mã sách</p>
                            <div class="input">
                                <input type="number" name="BookCode" th:value="${book.BookCode}" required disabled>
                            </div>
                        </div>
        
                        <div class="Name">
                            <p>Tên sách</p>
                            <div class="input">
                                <input type="text" name="Name" th:value="${book.Name}" required disabled>
                            </div>
                        </div>
        
                        <div class="Author">
                            <p>Tác giả</p>
                            <div class="input">
                                <input type="text" name="Author" th:value="${book.Author}" required disabled>
                            </div>
                        </div>
        
                        <div class="Title">
                            <p>Tiêu đề</p>
                            <div class="input">
                                <input type="text" name="Title" th:value="${book.Title}" required disabled>
                            </div>
                        </div>
        
                        <div class="RelaeseDate">
                            <p>Ngày phát hành</p>
                            <div class="input">
                                <input type="text" name="ReleaseDate" th:value="${book.ReleaseDate}" required disabled>
                            </div>
                        </div>
        
                        <div class="NumberOfPages">
                            <p>Số trang</p>
                            <div class="input">
                                <input type="number" name="NumberOfPages" th:value="${book.NumberOfPages}" required disabled>
                            </div>
                        </div>
        
                        <div class="Type">
                            <p>Thể loại</p>
                            <div class="input">
                                <input type="text" name="Type" th:value="${book.Type}" required disabled>
                            </div>
                        </div>
                        
                        <div class="Amount">
                            <p>Số lượng</p>
                            <div class="input">
                                <input type="number" name="Amount" th:value="${book.Amount}" required disabled>
                            </div>
                        </div>
        
                        <div class="Describe">
                            <p>Mô tả</p>
                            <div class="input">
                                <input type="text" name="Decribe" th:value="${book.Decribe}" required disabled><br />
                            </div>
                        </div>
                        
                        <div th:text="${message}"></div>
                    </div>
                </div>
                <div class="button">
                        <button type="button" class="btn btn-secondary edit" value="edit" id="edit">Chỉnh sửa</button>
                        <button type="submit" class="btn btn-success save" value="save" id="save">Lưu Sách</button>
        			    <button type="button" class="btn btn-secondary cancel huy" value="cancel" id="cancel">Hủy</button>
        			    <script>    

        			    if (window.location.toString().includes("-1")){
        		        	$('#edit').hide();
        		            $('#save').show();
        		            $('input').attr("disabled", false)
        		            $('select').attr("disabled", false)
        		            
        		        }
        			    if (window.location.toString().includes("/error")){
        		        	$('#edit').hide();
        		            $('#save').show();
        		            $('input').attr("disabled", false)
        		            $('select').attr("disabled", false)
        		            
        		        }
        		        else{
        		            $('#edit').click(function () {
        		                $(this).hide();
        		                $('#save, #cancel').show();
        		                $('input').attr("disabled", false)
        		                $('select').attr("disabled", false)
        		            });


        		            $('#cancel').click(function () {
        		                $('#edit').show();
        		                $('#save, #cancel').hide();
        		                $('input').attr("disabled", true)
        		                $('select').attr("disabled", true)
        		            });

        		            $('#save').click(function () {
        		                $(this).hide();
        		                $('#cancel').hide();
        		                $('#edit').show();
        		            });
        		        }
    
	window.addEventListener('load', function () {
		document.querySelector('input[type="file"]').addEventListener('change', function () {
			if (this.files && this.files[0]) {
				var img = document.querySelector('img');
				img.onload = () => {
					URL.revokeObjectURL(img.src);  // no longer needed, free memory
				}

				img.src = URL.createObjectURL(this.files[0]); // set src to blob url
			}
		});
	});
	</script>
                    <div class="cancel">
                        <a th:href="@{/admin/book}">Thoát</a>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
    
</body>
</html>