*{
	margin:0;
}

.search{
    display: flex;
    align-items: center;
}



.header{
    display: flex;
    align-content: stretch;
    justify-content: flex-end;
    height: 50px;
    background-color: antiquewhiteewhite;
    background-color: #32383e;
}

.header>div>a{
    color: white;
    background-color: #FF0000;
    padding: 10px;
    border-radius: 15px;
    line-height: 50px;
    text-decoration: none;
    margin: 0px 10px;
    font-weight: bolder;
}

.row{
    display: flex;
    justify-content: space-between;

}

.input_search{
    padding: 5px;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #c2bfbf;
    box-shadow: 1px 1px #e2dfdf;
}

.search>a{
    background-color: #FF0000;
    padding: 6px 15px;
    border-radius: 0px 10px 10px 0px;
    color: white;
    text-decoration: none;
}

.list-user{
    position: absolute;
    top: 50px;
    width: 200px;
    list-style-type: none;
    color: white;
    padding: 0;
    border: solid 1px ;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.user{
    position: relative;
    cursor: pointer;
}

.username:hover .list-user{
    display: block;
}

.list-user li a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px;
}

.list-user li:hover{
    background-color: #c2bfbf;
}

