<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" th:href="@{/css/style-login.css}">
    <link rel="stylesheet" th:href="@{/css/themify-icons/themify-icons.css}">
</head>
<body>
        <div class="all">
    
            <div class="SignUp">
                <div class="p_signup">
                    <p>Log in</p>
                </div>
    
                <div class="close">
                    <a th:href="@{/home}">
                        <i class="ti-close"></i>
                    </a>
                </div>	
                <form th:action="@{/j_spring_security_check}" class="list_info" method="post">
                    <div class="email_info" >
                        <p>Tên đăng nhập</p>
                        <input type="text" id="username"  name="username" required>
                    </div>
                    <div class="password_info">
                        <p>Mật khẩu</p>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <div th:if="${param.error}">
                    	<p class="error-message">Sai tên đăng nhập hoặc mật khẩu</p>
                    </div>
                    
                    <div class="check_info">
                        <input class="checkbox" type="checkbox" name="remember-me"> Nhớ mật khẩu
                    </div>
                    
                    
                    <div id="login" class="btn_signup">
                        <div class="signup_button_hover" id="submit">
                            <div class="signup_button">
                                <button class="submit_button" type="submit"><span>Đăng nhập</span></button>
                            </div>
                        </div>
                    </div>
                </form>
                
                <div class="end_signup">
                    <p>Bạn chưa có tài khoản?</p>
                    <a th:href="@{/book/SignUp}">Đăng kí</a>
                </div>
            </div>
        </div>
</body>
</html>